@font-face {
    font-family: "Open sans";
    src: url(../Fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Open sans";
    src: url(../Fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header*/
.header {
  background-color: #000000;
  background-image: url(../Images/banner-bg.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
  padding-top: 29px;
  padding-bottom: 157px;
}

.header::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

/*container*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  padding: 0 15px;
}

/*menu-burger*/
.burger__menu {
  position: relative; 
  width: 23px; 
  height: 20px;
  display: block;
  right: 0;
  display: none;
}

.burger__menu span, .burger__menu:after, .burger__menu:before {
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #ffffff;
}

.burger__menu span {
  top: 19px;
}

.burger__menu:after, .burger__menu:before {
  content: '';
}

.burger__menu:after {
  bottom: 5px;
}

.burger__menu:before {
  top: 5px;
}

/*menu*/
.first-level {
  display: flex;
  justify-content: space-between;
}

.logo-link {
  width: 180px;
}
  
.menu-list {
  display: flex;
  list-style-type: none;
  text-indent: 37px;
}

.menu-item {
  color: #ffffff;
  text-decoration: none;
  font-family: Open sans, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
}

.title {
  width: 688px;
  margin: 126px auto 0;
  text-align: center;
  font-family: Open sans, sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.6;
  color: #ffffff;
  text-transform: uppercase; 
}

/*section*/
.trends__titles {
  margin-top: 65px;
  font-size: 20px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
  text-transform: uppercase;
  text-align: center;
}

.trends__titles:after {
  content: "";
  display: block;
  height: 3px;
  background-color: #b59f5b;
  width: 66px;
  margin: 0 auto;  
  opacity: 0.400;
  margin-top: 16px;
  margin-bottom: 29px;
}

.trends__now {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.trends__many {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 15px;
  position: relative;
  width: calc(25% - 4.5px);
  height: 100%;
  min-height: 320px;
  background: #000;
}

.trends__many:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, .6);
}

.trends__one {
  background-image: url(../Images/trend1.jpg);
  background-size: cover;
}

.trends__two {
  background-image: url(../Images/trend2.jpg);
  background-size: cover;
}

.trends__three {
  background-image: url(../Images/trend3.jpg);
  background-size: cover;
}

.trends__four {
  background-image: url(../Images/trend4.jpg);
  background-size: cover;
}

.div {
  display: flex;
  flex-direction: column;
  border: 3px solid #b59f5b;
  padding-bottom: 38px;
  padding-left: 33px;
  padding-top: 40px;
  position: absolute;
}

.trends__title {
  width:  364px;
}

.trends__link {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  text-transform: uppercase;
  text-decoration: none;
}

/*news*/
.news {
  display: flex;
  padding-top: 64px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.top-post {
  flex-grow: 1;
}

.post {
  display: flex;
}

.post:nth-child(-n+4) {
  margin-bottom: 65px;
}

.post-image {
  margin-right: 30px;
}

.image-link {
  width: 382px;
}

.link-list {
  list-style-type: none;
  display: flex;
}

.category {
  text-decoration: none;
  color: #b59f5b;
  font-family: open sans;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 20px;
}

.title-post {
  margin-top: 25px;
  font-family: open sans;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #0f0d0e;
}

.date-post {
  display: flex;
  margin-top: 35px;
  vertical-align: middle;
}

.date {
  font-family: open sans;
  font-size: 12px;
  color: #888888;
  font-weight: 400;
  margin-right: 15px;
}

.author {
  font-family: open sans;
  font-size: 12px;
  color: #000000;
  font-weight: 700;
}

.post-text {
  font-family: open sans;
  width: 367px;
  font-size: 15px;
  line-height: 1.2;
  color: #0f0d0e;
  font-weight: 400;
  margin-top: 52px;
}

/*addit*/
.addit {
  width: 100%;
  max-width: 269px;
}

.posts-title {
  font-family: open sans;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
}

.posts-title::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #b59f5b;
  width: 66px;
  margin: 0 auto;  
  opacity: 0.400;
  margin-top: 11px;
}

.posts-list {
  margin-top: 28px;
}

.post-list {
  display: flex;
  margin-bottom: 22px;
}

.img-mini {
  width: 70px;
}

.side-text {
  margin-left: 21px;
}

.posts-date {
  font-family: open sans;
  opacity: 0.541;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 10px;
}

.posts {
  font-family: open sans;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}

.search {
  margin-top: 51px;
}

.form-one {
  position: relative;
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  margin-bottom: 62px;
  margin-top: 38px;
  outline: none;
  border: none;
}

.form-one:focus {
  width: 270px;
  height: 48px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.input-one {
  width: 100%;
  height: 100%;
  font-family: open sans;
  opacity: 0.54;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  outline: none;
  padding-left: 18px;
}

.button-one {
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  position: absolute; 
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  outline: none;
}

.button-one:hover {
  width: 48px;
  height: 100%;
  background-color: #323232;
}

.lupa-img {
  width: 18px;
  height: 18px;
}

/*mailing*/
.form-two {
  margin-top: 20px;
  margin-bottom: 58px;
  outline: none;
  border: none;
}

.form-two:focus {
  width: 270px;
  height: 48px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.input-two {
  width: 100%;
  height: 48px;
  font-family: open sans;
  opacity: 0.54;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  padding-left: 18px;
  outline: none;
}

.visually-hidden-two {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.button-two {
  width: 100%;
  height: 48px;
  margin-top: 16px;
  background-color: #b59f5b;
  position: relative; 
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  outline: none;
}

.button-two:hover {
  width: 100%;
  height: 48px;
  background-color: #323232;
}

/*tags*/
.tags-text {
  display: flex;
  flex-wrap: wrap;
  font-family: open sans;
  margin-top: 33px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.border-tags {
  display: flex;
  box-sizing: border-box;
  color: #0f0d0e;
  text-decoration: none;
  background-color: rgba(244,243,241,0);
  border: 3px solid #eeeeee;
  margin-right: 5px;
  margin-bottom: 6px;
  padding: 6px 13px;
}

.border-tags:hover {
  background-color: rgba(244,243,241,0);
  border: 3px solid #b59f5b;
}

/*themes*/
.themes {
  margin-top: 61px;
}

.themes-link {
  list-style-type: none;
  margin-top: 27px;
}

.themes-list {
  font-family: open sans;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  margin-right: 5px;
  line-height: 3;
  text-decoration: none;
}

.themes-list:hover {
  font-family: open sans;
  font-size: 14px;
  line-height: 1.6;
  color: #b59f5b;
  font-weight: 700;
}

.border {
  width: 271px;
  height: 1px;
  background-color: #eeeeee;
}

.number {
  font-family: open sans;
  font-size: 12px;
  line-height: 2;
  color: #b59f5b;
  font-weight: 700;
  vertical-align: top;
}

/*products*/
.our__products {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
  justify-content: space-between;
}

.top__products {
  width: calc(33.33% - 90px);
}

.top__products:nth-child(1),
.top__products:nth-child(2) {
  margin-right: 110px;
}


.text__products {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  outline: 3px solid #b59f5b;
  background-color: rgba(0,0,0,0);
  outline-offset: 25px;
}

.description__products {
  font-family: open sans;
  width: 100%;
  font-size: 15px;
  line-height: 1.2;
  color: #0f0d0e;
  font-weight: 400;
}

.description__products:hover {
  font-weight: 700;

}
.link__products {
  text-decoration: none;
  font-size: 15px;
  color: #b59f5b;
  font-weight: 400;
  font-family: "Open Sans";
}

.link__products:hover {
  text-decoration: underline;
}

.price__products {
  width: 50%;
  margin-top: 25px;
}

.old__price {
  text-decoration: line-through;
  font-size: 14px;
  text-decoration: line-through;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
}

.new__price {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
}

.button__products {
  background-color: #b59f5b;
  cursor: pointer;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  outline: none;
  text-decoration: none;
  padding: 20px 30px;
}

.button__products:hover {
  background-color: #323232;
}

.button__buy {
  display: flex;
  align-items: baseline;
  margin-top: 27px;
}


/*footer*/
.footer {
  width: 1200px;
  text-align: center;
  margin: 65px auto 0;
  padding: 0 15px;
}

.social-icons {
  justify-content: center;
  list-style-type: none;
  margin-bottom: 73px;
  position: relative;
  background-color: #f4f7f6;
  width: 1200px;
  height: 83px;
}

.social-icons .social-icon-one::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 531px;
  top: 32px;
  background: no-repeat center center;
  background-image: url(../svg/001-dribbble.svg);
}

.social-icons .social-icon-two::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 20px;
  left: 580px;
  top: 32px;
  background: no-repeat center center;
  background-image: url(../svg/002-pinterest.svg);
}

.social-icons .social-icon-three::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 20px;
  left: 627px;
  top: 32px;
  background: no-repeat center center;
  background-image: url(../svg/003-tumblr.svg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.copyright {
  text-align: center;
  font-family: open sans;
  font-size: 12px;
  line-height: 1.2px;
  color: #999999;
  font-weight: 700;
  margin-bottom: 40px;
  text-decoration: none;
}


/*popup*/
.popup {
  width: 390px;
  height: 596px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0 30px;
  display: none;
}

.close {
  display: flex;
  justify-content: flex-end;
}

.close__popup {
  width: 18px;
  height: 18px;
  background-image: url(../svg/form-x.svg);
  position: absolute;
  top: -5px;
  right: 0;
}

.close__popup:before, .close__popup:after {
  width: 18px;
  height: 18px;
}

.form1 {
  margin-bottom: 30px;
}

.text__popup {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
}

.select__popup {
  content: "";
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 330px;
  height: 48px;
  background-color: #f4f7f6;
  appearance:none;
  opacity: 0.64;
  outline: none;
  border: none;
  background-image: url(../svg/form-arrows.svg);
  background-size: 9px 16px;
  background-repeat: no-repeat;
  background-position: center right 20px;
  padding-left: 20px;
  margin-top: 10px;
}

.select__popup:focus {
  border: 1px solid #b59f5b;
}

.radio {
  margin-top: 10px;
  margin-bottom: 40px;
}

.radio__popup {
  margin-right: 15px;
}

.radio__popup:before {
  content: "";
  appearance:none;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

.input__popup {
  display: none;
}

.input__popup:checked ~ .radio__popup:before {
  content: "";
  appearance:none;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../svg/form-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  vertical-align: middle;
  margin-right: 5px;
}


.survey__popup {
  width: 330px;
  height: 131px;
  background-color: #f4f7f6;
  border: none;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-left: 18px;
  padding-bottom: 70px;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
  opacity: 0.64;
}

.survey__popup:focus {
  border: 1px solid #e9e5d4;
}



/*media*/
@media (max-width: 640px) {
  .header {
    background-image: url(../Images/banner-mobile.jpg);
  }

  .first-level {
    flex-direction: column-reverse;
    align-items: center;
  }

  .menu-list {
    display: none;
  }

  .burger__menu {
    display: block;
    align-self: flex-end;
    margin-right: 15px;
  }

  .logo-link {
    width: 270px;
    margin-top: 235px;
    align-self: center;
  }

  .title {
  width: 280px;
  margin: 45px auto 220px;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  }

  .trends__now {
    flex-wrap: wrap;
  }

  .trends__now article {
    width: 100%;
  }

  .trends__link {
    font-size: 16px;
    width: 100%;
  }

  .div {
    max-width: 326px;
    padding-bottom: 30px;
    padding-left: 22px;
    padding-top: 32px;
  }

  .news {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 360px;
  }

  .post {
    display: flex;
    flex-wrap: wrap;
  }

  .post:before {
    content: "";
    display: block;
    width: 329px;
    height: 3px;
    background-color: #eeeeee; 
    margin-bottom: 36px;
  }

  .post-image {
    width: 100%;
  }

  .post-image {
    margin: 0;
  }

  .image-link {
    width: 330px;
    margin-bottom: 20px;
  }

  .title-post {
    font-size: 16px;
    margin-top: 17px;
  }

  .post-text {
    width: 328px;
    height: 69px;
    font-size: 14px;
    line-height: 20px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans";
    margin-top: 25px;
  }

  .date-post {
    margin-top: 25px;
  }

  .top-post {
    margin-bottom: 45px;
  }

  .addit {
    width: 100%;
    max-width: 330px;
  }

  .form-one {
    margin-bottom: 45px;
    margin-top: 60px;
  }

  .posts-title {
    font-size: 16px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
  }

  .border-tags {
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
  }

  .our__products {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
  }

  .top__products {
    width: 100%;
  }

  .top__products:nth-child(1),
  .top__products:nth-child(2) {
    margin-bottom: 50px;
  }

  .img__products {
    width: 280px;
  }

  .text__products {
    outline-offset: 10px;
  }


  .footer {
    width: 100%;
    max-width: 330px;
    padding: 0 15px;

  }

  .social {
    width: 100%;
    max-width: 330px;
    display: flex;
  }

  .social-icons .social-icon-one::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 90px;
    top: 32px;
    background: no-repeat center center;
    background-image: url(../svg/001-dribbble.svg);
  }

  .social-icons .social-icon-two::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 20px;
    left: 145px;
    top: 32px;
    background: no-repeat center center;
    background-image: url(../svg/002-pinterest.svg);
  }

  .social-icons .social-icon-three::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 20px;
    left: 200px;
    top: 32px;
    background: no-repeat center center;
    background-image: url(../svg/003-tumblr.svg);
  }


}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
  .header {
    background-image: url(../Images/banner-bg-tablet.jpg);
  }

  .menu-list {
    display: none;
  }

  .burger__menu {
    display: block;
  }

  .trends__now {
    flex-wrap: wrap;
  }

  .trends__now article {
    width: 50%;
  }

  .trends__link {
    font-size: 0.9rem;
    width: 90%
  }

  .div {
    width: 90%;
  }

  .news {
    padding-right: 35px;
    padding-left: 35px;
  }

  .post {
    display: flex;
    flex-wrap: wrap;
  }

  .post-image {
    width: 100%;
  }

  .our__products {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 55px;
  }

  .top__products {
    max-width: 290px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }

  .footer {
    width: 100%;
    max-width: 768px;
    padding: 0 35px;
  }

  .social {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
  }

  .social-icons .social-icon-one::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 270px;
    top: 32px;
    background: no-repeat center center;
    background-image: url(../svg/001-dribbble.svg);
  }

  .social-icons .social-icon-two::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 20px;
    left: 320px;
    top: 32px;
    background: no-repeat center center;
    background-image: url(../svg/002-pinterest.svg);
  }

  .social-icons .social-icon-three::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 20px;
    left: 370px;
    top: 32px;
    background: no-repeat center center;
    background-image: url(../svg/003-tumblr.svg);
  }
}
